@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --path-stroke-rgb: 34, 28, 28;  /* Added this line for path color */
    --channel-label-rgb: 0, 0, 0;  /* Default channel label color */


}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 45, 45, 45;
        --background-end-rgb: 28, 28, 28;
        --path-stroke-rgb: 150,150,150; /* Light grey color in dark mode */
        --channel-label-rgb: 150, 150, 150; /* Medium grey for channel label in dark mode */


    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.eegviewer-container {
    /* width: 1080px; Remove this line */
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-start-rgb);
    border-radius: 7px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px rgba(163,177,198,0.2), 
                -4px -4px 8px rgba(255, 255, 255, 0.05);

    padding: 15px;
    margin: 50px 0; /* Adjusted to add margin only top and bottom */
    overflow-x: auto;
    max-width: 100%; /* Ensuring it doesn't overflow its parent */
    max-height: 100%;
}


svg {
    background: var(--background-end-rgb);
    border-radius: 7px;
    box-shadow: 4px 4px 8px rgba(163,177,198,0.15), 
                -4px -4px 8px rgba(255, 255, 255, 0.04);


}

path {
    stroke: rgb(var(--path-stroke-rgb)); /* Using the variable for path color */
}

text {
    fill: rgb(var(--channel-label-rgb)); /* Using the variable for channel label color */
}





