:root {
    --toolbar-bg-start: var(--background-start-rgb);
    --toolbar-bg-end: var(--background-end-rgb);
    --toolbar-text: rgb(var(--foreground-rgb));
    --button-shadow-light: rgba(255, 255, 255, 0.8);
    --button-shadow-dark: rgba(163,177,198, 0.6);
}

.toolbar-container {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 4px 4px 8px var(--button-shadow-dark), 
                -4px -4px 8px var(--button-shadow-light);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(1, 1, 1, 0.1); 
    backdrop-filter: blur(5px); 
}


/* Tablet screen sizes */
@media (min-width: 640px) {
    .toolbar-container {
        padding: 1.2rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktop screen sizes */
@media (min-width: 1024px) {
    .toolbar-container {
        padding: 1.5rem;
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --toolbar-bg-start: var(--background-end-rgb);  /* switch them */
        --toolbar-bg-end: var(--background-start-rgb);  /* switch them */
        --toolbar-text: rgb(var(--foreground-rgb));
        --button-shadow-light: rgba(28, 28, 28, 0.6);
        --button-shadow-dark: rgba(45, 45, 45, 0.8);
    }
}

.toolbar-button {
    background-color: var(--toolbar-bg-end);
    color: var(--toolbar-text);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    /* Default state without neumorphism */
}

.toolbar-button:hover {
    background-color: var(--toolbar-bg-start);
    box-shadow: 4px 4px 10px var(--button-shadow-dark), 
                -4px -4px 10px var(--button-shadow-light);
}

/* Neumorphic pressed effect */
.toolbar-button:active {
    box-shadow: inset 4px 4px 10px var(--button-shadow-dark), 
                inset -4px -4px 10px var(--button-shadow-light);
}